.features {
  max-width: $maxWidth;
  margin: 0 auto;
  position: relative;
  padding-bottom: 72px;
}

.features__list-item {
  width: 49%;
  display: inline-block;
  min-height: 85px;
  padding: 28px 0;
  font-family: $myriadPro;
  font-size: 22px;
  box-sizing: border-box;
  margin-bottom: 46px;
  position: relative;
  z-index: 2;
}

.features__list-item:nth-of-type(2n-1) {
  box-sizing: border-box;
  text-align: right;
  padding-right: 96px;
  position: relative;
  right: 75px;
}

.features__list-item:nth-of-type(2n-1) span {
  width: 85%;
  position: absolute;
  right: 96px;
}

.features__list-item:nth-of-type(2n-1)::after {
  content: '';
  width: 85px;
  height: 85px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
  position: absolute;
  top: 0;
  right: 0;
}

.features__list-item:nth-of-type(2n) {
  box-sizing: border-box;
  text-align: left;
  padding-left: 96px;
  position: relative;
  left: 75px;
}

.features__list-item:nth-of-type(2n) span {
  width: 85%;
  position: absolute;
}

.features__list-item:nth-of-type(2n)::before {
  content: '';
  width: 85px;
  height: 85px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  position: absolute;
  top: 0;
  left: 0;
}

.features__list-item--center:nth-of-type(2n-1) {
  position: relative;
  right: 118.5px;
}

.features__list-item--center:nth-of-type(2n) {
  position: relative;
  left: 118.5px;
}

.features__circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: $blue;
  position: absolute;
  top: 0;
  left: 49%;
  margin-left: -175px;
  z-index: 1;
}

@media (max-width: 1120px) {
  .features__list-item {
    font-size: 18px;
  }
}

@media (max-width: $tabletResolution) {
  .features__list-item {
    margin-bottom: 20px;
    padding: 0;
    min-height: 60px;
  }

  .features__list-item:nth-of-type(2n-1) {
    padding-right: 60px;
    right: 70px;
  }

  .features__list-item:nth-of-type(2n) {
    padding-left: 60px;
    left: 60px;
  }

  .features__list-item--center:nth-of-type(2n-1) {
    right: 100px;
  }

  .features__list-item--center:nth-of-type(2n) {
    left: 95px;
  }

  .features__list-item:nth-of-type(2n) span,
  .features__list-item:nth-of-type(2n-1) span {
    width: 55%;
  }

  .features__list-item:nth-of-type(2n-1) span {
    right: 60px;
  }

  .features__list-item:nth-of-type(2n-1)::after,
  .features__list-item:nth-of-type(2n)::before {
    width: 50px;
    height: 50px;
  }

  .features__circle {
    width: 250px;
    height: 250px;
    top: -15px;
    margin-left: -125px;
  }
}

@media (max-width: $mobileResolution) {
  .features {
    padding: 30px 20px;
    overflow: hidden;
  }

  .features__circle {
    width: 5px;
    height: 100%;
    margin: 0;
    top: 30px;
    left: 32px;
    border-radius: 0;
  }

  .features__list-item,
  .features__list-item:nth-of-type(2n),
  .features__list-item:nth-of-type(2n - 1) {
    width: 100%;
    display: block;
    margin: 0;
    right: 0;
    left: 0;
    padding: 0;
    text-align: left;
    min-height: 30px;
    font-size: 16px;
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 15px;
  }

  .features__list-item:nth-of-type(2n-1)::after,
  .features__list-item:nth-of-type(2n)::before {
    width: 30px;
    height: 30px;
    z-index: 2;
  }

  .features__list-item:nth-of-type(2n-1)::after {
    left: 0;
    margin-left: 0;
  }

  .features__list-item:nth-of-type(2n) span,
  .features__list-item:nth-of-type(2n-1) span {
    position: relative;
    width: 90%;
    right: 0;
  }

  .features__list-item:nth-of-type(2n) span::before,
  .features__list-item:nth-of-type(2n-1) span::before {
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: $blue;
    position: absolute;
    left: -45px;
    top: -12px;
    border-radius: 50%;
    z-index: 1;
  }
}
