$openSans: "Open Sans", "Arial", sans-serif;
$myriadPro: "Myriad Pro", "Arial", sans-serif;

$maxWidth: 1200px;
$tabletResolution: 1024px;
$mobileResolution: 768px;

$purple: #8c5d79;
$blue: #5a9aa8;
$green: #89c39b;
$grey: #f5f5f5;
$dark: #1a1a1a;
